<div id="placeName">{{placeName}} tract # {{tractNumber}}</div>

<ul class="placeDetails">
  <li><i class="fa fa-users fa-fw"></i> Population: {{placeData.P1.P001001}}</li>
  <li><i class="fa fa-hourglass-half"></i> Median Age: {{placeData.P13.P013001}}</li>
</ul>

<nav>
  <ul>
    <li><a href ng-click="yelp = !yelp">Yelp</a></li><li><a href ng-click="instagram = !instagram">Instagram</a></li>
  </ul>
</nav>

<div ng-repeat="business in yelpData" ng-hide="yelp" id="yelpblock">
  <ul class="listBlocks">
    <li>
      {{business.categories[0][0]}}<br/>
      <a href={{business.url}}>{{business.name}}</a><br/>
      <img src={{business.rating_img_url_small}}><br/>
      <img src={{business.image_url}}>
    </li>
  </ul>
</div>

<div ng-repeat="photo in instagramData" ng-hide="instagram" id="instagramblock">
  <ul class="listBlocks">
    <li>
      <a href={{photo.link}}><img src={{photo.images.low_resolution.url}} height="225" width="225"/></a>
    </li>
  </ul>
</div>


</div>