#container {
  position: relative;
  height: auto;
  min-height: 100%;
  display: block;
  overflow: hidden;
  padding-bottom: 150px;
  /*width: 100%;*/
  /*max-width: 1200px;*/
  background-color: #858585;
  /*background-color: #dedede;*/


}

body { 
  margin:0; padding:0; 
}
        
#map { 
  /*position: absolute; */
  height: 700px;
  width: 65%;
  /*width: 700px;*/
  top: 100px;
  perspective: 800px;

}

.mapboxgl-canvas {
  transform-origin: left;
  transition: transform 1s;
  transition-timing-function: easeOutCubic;

}

.mapboxgl-canvas.active {
  perspective-origin: left;
  transform-origin: left;
  transition: transform 1s;
  transition-timing-function: easeOutCubic;
  transform: rotateY(20deg);
}

        
#outside { 
  position: absolute;
  overflow: auto;
  height: 600px;
  /*width: 500px;*/
  width: 10%;
  left: 65%;
  top: 100px;
  padding-left: 30px;
  padding-top: 20px;
  color: white;
  background-color: yellow;
  /*float: right;*/
  /*top: 10px; bottom: 0px; left: 10px; */
  /*background-color: #B9BAA9;*/
  /*background-color: #dedede;*/
  transition: 1s;
  transition-timing-function: easeOutCubic;
}

#outside.active {
  overflow: auto;
  /*height: 300px*/
  width: 45%;
  left: 55%;
  top: 150px;
  transition: 1s;
  transition-timing-function: easeOutCubic;
}

.clear {
  clear: both;
}

/*#placeName {
  color: white;
}*/

/*.clickOutside {
  width: 45%;
  top: 50px;
  padding: 30px;
  background-color: #B9BAA9;
}*/

        
header {
  font-size: 36px; 
  font-family: 'Papyrus'
}

#yelpblock {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 150px;

}

#instagramblock {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mapboxgl-popup-anchor-bottom {
  color: #B9BAA9;
}

.listBlocks {
    list-style-type: none;
}

/*input[type="checkbox"] {
    width: 120px;
    margin-left: 35px;
    display: block;
}
*/
