#container {
  position: relative;
  /*width: 100%;*/
  /*max-width: 1200px;*/
  /*background-color: #EBFF12;*/


}

body { 
  margin:0; padding:0; 
}
        
#map { 
  /*position: absolute; */
  height: 700px;
  width: 65%;
  /*width: 700px;*/
  top: 50px; left: 5%; bottom: 0;
  perspective: 800px;

}

.mapboxgl-canvas {
  transform-origin: left;
  transition: transform 1s;
  transition-timing-function: easeOutCubic;

}

.mapboxgl-canvas.active {
  perspective-origin: left;
  transform-origin: left;
  transition: transform 1s;
  transition-timing-function: easeOutCubic;
  transform: rotateY(20deg);
}
        
#outside { 
  position: absolute;
  /*width: 500px;*/
  width: 10%;
  /*height: 90%;*/
  left: 70%;
  top: 50px;
  padding: 30px;
  /*float: right;*/
  /*top: 10px; bottom: 0px; left: 10px; */
  background-color: #B9BAA9;
  transition: 1s;
  transition-timing-function: easeOutCubic;
}

#outside.active {
  width: 35%;
  left: 60%;
  top: 100px;
  transition: 1s;
  transition-timing-function: easeOutCubic;
}

.clickOutside {
  width: 45%;
  top: 50px;
  padding: 30px;
  background-color: #B9BAA9;
}
        
header {
  font-size: 36px; 
  font-family: 'Papyrus'
}

#yelpblock {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 150px;

}

#instagramblock {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mapboxgl-popup-anchor-bottom {
  color: #B9BAA9;
}

/*input[type="checkbox"] {
    width: 120px;
    margin-left: 35px;
    display: block;
}
*/
