
<div><input type="checkbox" ng-click="change($event)" id="ba_percent"/><label> with BAs</label></div>
<div><input type="checkbox" ng-click="change($event)" id="ma_percent"/><label> with MAs</label></div>
<div><input type="checkbox" ng-click="change($event)" id="walk_or_bike_25"/><label> green commute</label></div>
<div><input type="checkbox" ng-click="change($event)" id="rural_400"/><label> urban</label></div>
<div><input type="checkbox" ng-click="change($event)" id="single_45"/><label> singles</label></div>


