<div>See which places have more...</div>

<div ng-class="{'ba': ba_percent}"><input type="checkbox" ng-click="change($event)" ng-model="ba_percent" id="ba_percent"/><label> people with BAs&nbsp;</label></div>
<div ng-class="{'ma': ma_percent}"><input type="checkbox" ng-click="change($event)" ng-model="ma_percent" id="ma_percent"/><label> people with MAs&nbsp;</label></div>
<div ng-class="{'green': walk_or_bike_25}"><input type="checkbox" ng-click="change($event)" ng-model="walk_or_bike_25" id="walk_or_bike_25"/><label> green commuters&nbsp;</label></div>
<div ng-class="{'urban': rural_400}"><input type="checkbox" ng-click="change($event)" ng-model="rural_400" id="rural_400"/><label> population density&nbsp;</label></div>
<div ng-class="{'singles': single_45}"><input type="checkbox" ng-click="change($event)" ng-model="single_45" id="single_45"/><label> singles&nbsp;</label></div>
<div>...then zoom and click for details</div>
