<div><input type="checkbox" ng-click="change($event)" ng-model="ba_percent" id="ba_percent"/><label> with BAs</label></div>
<div><input type="checkbox" ng-click="change($event)" ng-model="ma_percent" id="ma_percent"/><label> with MAs</label></div>
<div><input type="checkbox" ng-click="change($event)" ng-model="walk_or_bike_25" id="walk_or_bike_25"/><label> green commute</label></div>
<div><input type="checkbox" ng-click="change($event)" ng-model="rural_400" id="rural_400"/><label> urban</label></div>
<div><input type="checkbox" ng-click="change($event)" ng-model="single_45" id="single_45"/><label> singles</label></div>
